ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #333;
  }
  #settings{
    float:right;
  }
  #signin{
    float:right;
  }

  * {box-sizing: border-box}
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}
.cancelbutton {
  padding: 14px 20px;
  background-color: #f44336;
}
.cancelbutton, .signupbutton {
  float: left;
  width: 50%;
}
.container {
  padding: 16px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }




}
.gear{
  background-color:gray;
  width: 15px;
  height:15px;
  border-radius: 50%;
  position: relative;
}
.gear-inner{
  background-color:#111;
  width:10px;
  height:10px;
  border-radius: 50%;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.bar {
  background-color: gray;
  width: 30px;
  height: 7px;
  border-radius: 2px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%)
}
.bar2{
  transform:translate(-50%, -50%) rotate(60deg);
}
.bar3{
  transform:translate(-50%, -50%) rotate(-60deg);
}
#p10{
 text-transform:uppercase;
}
#home1{
  background-color: lightgray;
}
.text{
  margin-left:35px;
  margin-top: 20px;
}
#homediv{
  text-align: center;
}  
#bild1{
  margin-top:35px;
  text-indent: 50px;
  margin-bottom: 100px;
}
#bild2{
  margin-top:35px;
  margin-bottom: 100px;
}
#bild3{
  margin-top:35px;
  margin-bottom:100px;
}
#bild4{
  margin-top: 50px;
  margin-left:225px;
}
#bild6{
  margin-top: 50px;
}
#bild5{
  
  margin-left:425px;
}
#h1games{
  text-align: center;
  margin-top: 25px;
}
#settingh1{
  text-align: center;
}